<header>
	<h1>Projects</h1>
</header>
<ul class="actions">
	<li>
    <%= link_to new_admin_project_path, class: "new" do %>
      <i class="fa fa-plus"></i> New Project
    <% end %>
	</li>
</ul>

<div id="projects">
	<% @projects.each do |project| %>
		<h2><%= link_to project.name, project %></h2>
		<p><%= project.description %></p>
	<% end %>
</div>
