body {
	padding-top: 50px;
}

.page-header {
  	position: relative;
  	padding-bottom: 0px;
  	&:first-child {
    	margin-top: 20px;
	}
} 

header {
	@extend .page-header;
	position: relative;
	padding-bottom: 0px;

	&:first-child {
		margin-top: 20px;
	}
}

ul.actions {
	@extend .list-unstyled;
	@extend .list-inline;
}

a.new, a.edit, a.delete {
	@extend .btn;

	&:before {
		padding-right: 0.5em;
	}
}

a.new {
	@extend .btn-success;
}

a.edit {
	@extend .btn-primary;
}

a.delete {
	@extend .btn-danger;
}

.alert-notice {
	@extend .alert-success;
}

.alert-alert {
	@extend .alert-danger;
}

form {
	max-width: 500px;
}
